name: Update Erregame CSV
on:
  schedule:
    - cron: '0 * * * *' # Si esegue ogni ora
  workflow_dispatch: # Permette l'avvio manuale

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download CSV
        run: |
          curl -L "https://www.erregame.com/CSV/%7BAEA32292-14DB-4EF5-A687-1FB02B2143F5%7D.csv" -o listino.csv
      - name: Commit and Push
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add listino.csv
          git commit -m "Update listino" || exit 0
          git push
